@charset "utf-8";

/* CSS Document */



*{margin:0px;padding:0px;outline:none;}



img{border:0px;max-width:100%;height:auto;display:block;}



li{list-style:none;}



a{text-decoration:none;}



.clr{clear:both;}



h1 , h2 , h3 , h4 ,h5 , h6{font-weight:normal;}



input , textarea{font-family:Arial, Helvetica, sans-serif;}



body{font-family: 'Ubuntu', sans-serif;background:#435161;font-size:12px;}



#wrapper{width:990px;margin:auto;}



/* header  */



#header{width:auto;padding-left:10px;padding-right:10px;background:#FFF;padding-top:22px;padding-bottom:22px;}



.logo{width:249px;height:58px;float:left;}



.logo a{width:249px;height:58px;display:block;}



.contact{width:246px;float:right;padding-top:5px;}



.contact_socai{width:46px;float:left;}



.contact_socai a{width:46px;height:49px;display:block;background:url(../images/contact_fb.png) no-repeat;}



.contact_number{width:178px;float:right;padding-top:4px;}



.contact_number p{color:#030303;font-size:18px;background:url(../images/contact_number.png) no-repeat left top;line-height:40px;padding-left:52px;}



a.show_menu{width:36px;height:35px;display:none;background:url(../images/resp_nav2.png) no-repeat;margin:auto;}



/*  menu  */



#menu{width:100%;background:url(../images/menu_bg.png) repeat-x;}



#menu ul li{float:left;background:url(../images/menu_list_bg.png) left top no-repeat;padding-left:2px;position:relative;}


#menu ul li ul{position:absolute;left:0px;top:44px;z-index:10;width:177px;display:none;border-top:#aeaeae solid 1px;}

#menu ul li:hover ul{display:block;}

#menu ul li ul li{float:none;display:block;padding-left:0px;background:none;border-bottom:#aeaeae solid 1px;}

#menu ul li ul li a{background:url(../images/menu_a_nor.png) repeat-x;display:block;padding-left:20px !important;padding-right:0px !important;color:#FFF;font-size:18px;line-height:44px;text-align:left;}



#menu ul li:first-child{background:none;padding-left:0px;}



#menu ul li a{background:url(../images/menu_a_nor.png) repeat-x;display:block;color:#FFF;font-size:18px;line-height:44px;

padding-left:20px;padding-right:20px;}



#menu ul li a:hover, #menu ul li a.select{background:url(../images/menu_a_hov.png) repeat-x}



/*  banner  */



#banner{width:100%;height:400px;overflow:hidden;position:relative;z-index:0;}



/*  content  */



#content{width:auto;padding-left:10px;padding-right:10px;padding-top:10px;background:#FFF;

border-bottom:#e4e5e5 solid 1px;padding-bottom:34px;}



.bedrom{width:100%;padding-bottom:10px;}



.bedrom ul li{float:left;width:235px;position:relative;height:157px;margin-left:10px;}



.bedrom ul li:first-child{margin-left:0px;}



.bedrom ul li span{width:235px;height:157px;display:block;}



.bedrom_hover{width:235px;background:url(../images/bedrom_hvr.png) repeat;position:absolute;left:0px;bottom:0px;

height:46px;}



.bedrom_hover h1{font-size:24px;color:#FFF;padding-left:10px;line-height:46px;}



.vecation_welcome{width:100%;}



.welcome_south{width:624px;float:right;padding-top:13px;}



.welcome_south h1{color:#020202;font-size:36px;font-weight:bold;padding-bottom:14px;}



.welcome_south p{color:#000000;font-size:14px;line-height:20px;line-height:21px;padding-bottom:25px;}



.vecation_feature{width:324px;float:left;}



.vecation_rental{width:322px;border:#e2e2e2 solid 1px;padding-bottom:15px;margin-bottom:15px;}



.vecation_rental h2{color:#FFF;font-size:20px;background:#435161;line-height:50px;padding-left:10px;font-weight:bold;margin-bottom:15px;}



.date_form{width:310px;padding-left:6px;padding-right:6px;}



.date_form ul li{padding-bottom:6px;}



.date_form ul li label{float:left;width:122px;display:block;line-height:35px;color:#000000;font-size:18px;}



.date_ent{float:right;width:188px;}



.date_ent input{background:none;border:#e2e2e2 solid 1px; width: 186px; height: 33px;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;color:#a6a6a6;font-size:18px;font-family: 'Ubuntu', sans-serif;}



.date_ent select{width:75px; height:35px;color:#a6a6a6;font-size:18px;font-family: 'Ubuntu', sans-serif;}



.date_ent input.sbmt{width:77px;height:37px;border:0px;cursor:pointer;font-size:0px;background:url(../images/submit.png) no-repeat;}



.feature_property{width:324px;}



.feature_property h2{background:#435161;line-height:50px;padding-left:10px;color:#FFF;font-size:22px;}



.feature_property span{width:324px;height:236px;display:block;}



/*  footer  */



#footer{width:auto;padding-left:10px;padding-right:10px;background:#FFF;padding-top:32px;padding-bottom:18px;}



.footer_up{width:100%;padding-bottom:36px;}



.footer_menu{width:734px;float:left;}

.footer_menu ul{float:right !important;}

.footer_menu ul li{float:left;padding-right:24px;}



.footer_menu ul li a{color:#010101;font-size:11px;}



.footer_contact{width:178px;float:right;}



.footer_contact p{color:#030303;font-size:18px;text-align:right;}



.copy_right{width:100%;}



.copy_right p{text-align:center;color:#010101;font-size:11px;}







@media screen and (max-width:1024px){



#wrapper{width:100%;margin:auto;}



a.show_menu{display:block;}



/*  menu  */



#menu{display:none;position:absolute;top:137px;border-top:#ffffff solid 2px;z-index:1;}



#menu ul li{float:none;background:none;padding-left:0px;border-bottom:#ffffff solid 2px;}



#menu ul li a{background:url(../images/menu_a_nor.png) repeat-x;display:block;color:#FFF;font-size:18px;line-height:44px;

padding-left:20px;padding-right:20px;text-align:center;}

#menu ul li ul{position:static;left:0px;top:44px;z-index:10;width:100%;display:none;border-top:#aeaeae solid 1px;}

#menu ul li:hover ul{display:block;}

#menu ul li ul li{float:none;display:block;padding-left:0px;background:none;border-bottom:#aeaeae solid 1px;}

#menu ul li ul li a{background:url(../images/menu_a_nor.png) repeat-x;display:block;padding-left:20px !important;padding-right:0px !important;color:#FFF;font-size:18px;line-height:44px;text-align:center;}	



/*  banner  */



#banner{height:auto;position:relative;z-index:0;}



/* content  */



.bedrom{text-align:center;padding-bottom:20px;}



.bedrom ul li{float:none;margin-left:5px;margin-right:5px;display:inline-block;zoom:1;*display:inline;margin-bottom:10px;}



.bedrom ul li:first-child{margin-left:5px;}



.welcome_south{width:100%;float:none;padding-top:0px;}



.welcome_south h1{text-align:center;}



.welcome_south p{text-align:center;}



.vecation_feature{width:100%;float:none;}



.vecation_rental{width:auto;}



.vecation_rental h2{padding-left:0px;text-align:center;;}



.date_form{width:auto;}



.date_ent{float:right;width:auto;}



.feature_property{width:100%;padding-bottom:20px;}



.feature_property h2{background:#435161;line-height:50px;padding-left:0px;color:#FFF;font-size:22px;text-align:center;}



.feature_property span{width:100%;height:236px;display:block;}



.feature_property span img{display:block;margin:auto;}



/*  footer  */



#footer{padding-top:20px;}



.footer_up{padding-bottom:20px;}



.footer_menu{width:100%;float:none;text-align:center;padding-bottom:10px;}


.footer_menu ul{float:none !important;}



.footer_menu ul li{float:none;padding-right:12px;padding-left:12px;display:inline-block;zoom:1;*display:inline;}



.footer_contact{width:100%;float:none;}



.footer_contact p{text-align:left;}

.long_term_info{width:100%;float:none;}

.lont_term_img{width:100%;float:none;}

.lont_term_img a{margin:auto;}



	

}



@media screen and (max-width:640px){

	

/* header  */



.logo{width:100%;float:none;padding-bottom:20px;}



.logo a{margin:auto;}



.contact{width:100%;float:none;padding-top:0px;padding-bottom:20px;}



/*  menu  */



#menu{top:226px;}





	

}



@media screen and (max-width:360px){

	



.date_form ul li label {

    display: block;

    float: none;

    width: 100%

}



.date_ent{float:none;width:100%;}



.date_ent input{width:92%;}

	

}