body {
	 background:#fff url('../assets/header_blue.png') 0 0 repeat-x;
}

input.button, a.button {
	background:#072541 url('../assets/bluebut.png') 0 0 repeat-x;
	border:1px solid #1e3345;
	color:#ccc!important;
}

h1, h2, h3, h4, h5, h6 {
	color:#144473;
}

#navbar ul.nav {
	 border-right:1px solid #0b355b;
	border-left:1px solid #03192e;
}

ul.nav li {
	 border-left:1px solid #0b355b;
	border-right:1px solid #03192e;
}

ul.nav ul li {
	 border-left:3px solid #05223a;
}

ul.nav li li {
		background:	#05223a;
}

ul.nav li li a {
	 color:#ccc;
}

ul.nav li li a:hover {
	color:#fff;
	background:#0b375e;
}

.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #1e3345; background: url('../assets/bluebut.png') 0 0 repeat-x; font-weight: normal; color: #fff; outline: none; }