body {
	 background:#fff url('../assets/header_red.png') 0 0 repeat-x;
}

input.button, a.button {
	background:#4c030c url('../assets/redbut.png') 0 0 repeat-x;
	border:1px solid #73080e;
	color:#ccc!important;
}

h1, h2, h3, h4, h5, h6 {
	color:#830E15;
}

#navbar ul.nav {
	 border-right:1px solid #640711;
	border-left:1px solid #310008;
}

ul.nav li {
	 border-left:1px solid #640711;
	border-right:1px solid #310008;
}

ul.nav ul li {
	 border-left:3px solid #600610;
}

ul.nav li li {
		background:	#4e030d;
}

ul.nav li li a {
	 color:#ccc;
}

ul.nav li li a:hover {
	color:#fff;
	background:#600610;
}

.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #73080e; background: url('../assets/redbut.png') 0 0 repeat-x; font-weight: normal; color: #fff; outline: none; }